<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914453568995-t09bihieh2crnaldg7ah9c7609mbnlta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914453568995-t09bihieh2crnaldg7ah9c7609mbnlta</string>
	<key>API_KEY</key>
	<string>AIzaSyBychaBHuxOlgiC1_oDdzeo9yFgKp4CLT0</string>
	<key>GCM_SENDER_ID</key>
	<string>914453568995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carolinemcgregor.learnTagalog</string>
	<key>PROJECT_ID</key>
	<string>learntagalog-98b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>learntagalog-98b6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914453568995:ios:672f238b7c05da079394d6</string>
</dict>
</plist>